<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BreadFantasy.Properties.Settings.Authorization_BreadFantasyConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Authorization_BreadFantasy.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="BreadFantasy.Properties.Settings.BreadFantasyConnectionString"
            connectionString="Data Source=DESKTOP-PPVVDQM\SQLEXPRESS;Initial Catalog=BreadFantasy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>